<h2>Liste des Articles</h2>

@if (loading) {
  <div> Chargement des articles en cours... </div>
}

<button (click)="refreshNews()"><mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="refresh"></mat-icon></button>

@if (error) {
  <div style="color: red;">{{ error }}</div>
}

<div class="article-container">
  
  @for (article of articles; track  article.id) {
    <div class="article-card">
      <h3>{{ article.title }}</h3>
      <p>{{ article.description }}</p>
      <div class="article-img-container">
        <img [src]="article.urlToImage" [alt]="'Image de l\'article '+ article.title" class="article-img"/>
      </div>
    </div>
  }

  @if ( !loading && articles.length === 0 ) {
    Aucun article trouvé.
  }
</div>