.article-container{
    display:flex;
    flex-wrap:wrap;
}

.article-card{
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 16px;
    margin: 8px;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.1);
    max-width:calc(33vw - 64px);
    min-width:calc(30vw - 64px);
}

.article-img-container {
    width:100%;
    height:200px;
    overflow:hidden;
    margin-bottom:12px;
}

.article-img-container img {
    width:100%;
    height:auto;
    max-height:50%;
    object-fit:cover;
}